/* For responsive  */

@media screen and (min-device-width: 320px)
    and (max-device-width: 480px) {

  .container {
    width: 100%;
    padding: 0 1rem;
  }

  .navbar {
    padding: 1rem 0 !important;
  }

  .navbar--about {
    display: none;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .checkbtn {
    display: block;
  }

  .navbar > #check, .check {
    display: block;
  }


  /* Header  */


  .header {
    height: 100%;
    padding-bottom: 50px;
  }
  .home {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
  }

  .home h1 {
    font-size: 28px !important;
    line-height: 28px !important;
    text-align: center !important;
  }

  .coffee--about {
    margin: 4rem 0 2rem 0;
  }

  .home--about {
    display: block;
    flex-direction: column; 
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 32px--;
  }
  .home--about > .coffee--about > img {
    width: 40%;
  }
  .images {
    margin-top: 20px;
  }
  .big--cafe {
    display: none;
  }
  .home--about > .coffee--about > h1 {
    color: #1B1B1D;
    font-family: Jost;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 140px;
  }
  .alowishus--about__coffee {
    display: block;
  }
  .alowishus--about__coffee > h1 {
    font-size: 28px !important;
    line-height: 28px !important;
    text-align: center !important;
  }
  .alowishus--about__coffee img {
    display: none !important;
  }
  .drink .download{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download > button {
    padding: 5px 19px;
    font-size: 12px;
  }
  .download > a {
    font-size: 12px;
  }

  .drink p {
    text-align: center;
    font-size: 18px;
  }
  .images {
    display: none;
  }


  /* Main- about  */

  /* Main-one  */


  .food > img {
    display: none;
  }
  .food {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
   .alowishus--about {
    padding: 50px 0;
   }
  .alowishus--about > h1 {
    font-size: 28px !important;
    line-height: 28px !important;
    text-align: center !important;
  }
  .alowishus--about > p {
    display: block;
    justify-content: center;
    color: #64646A;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .food--about__square {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .food--about__drop > h1 {
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center !important;
  }
  .food--about__drop > p {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  .food--image > img {
    width: 35%;
  }
  .food--about__square > button {
    padding: 5px 20px;
    font-size: 12px;
  }
  

  /* Main-two  */


  .background--image {
    display: none;
  }
  .favourite--coffee {
    display: flex;
    flex-direction: column-reverse;
    gap: 21px;
    align-items: center;
    padding: 70px 0;
  }
  .order {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .favourite > h1 {
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center !important;
    width: 100% !important;
  }
  .favourite > p {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  .favourite--button > button {
    padding: 15px 25px;
    font-size: 15px;
  }
  .best--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
  }


  /* Main-three  */


  .selling--coffee {
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 78px 0;
  }
  .bg--image {
    display: none;
  }
  .best--about > h1 {
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center !important;
  }
  .best--about > p {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
  }
  .espresso {
    width: 100%;
  }
  .espresso--coffee__about > a {
    font-size: 10px;
  }
  .espresso--coffee__about > h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .espresso > p {
    font-size: 15px;
    width: 100%;  
    margin-top: 120px;
    line-height: 20px;
  }
  .espresso--image > img {
    top: -100px;
  }
  .order--now {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .order--now > span {
    font-size: 20px;
  }
  .order--now > button {
    padding: 5px 20px;
    font-size: 12px;
  }


  /* Main-four  */


  .main--four__about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instant--about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .instant--about__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .instant--about__home > h1 {
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center !important;
  }

  .instant--about__home > p {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  .instant--about__download > button {
    font-size: 12px;
    padding: 10px 20px;
  }
  

  /* Main-five  */


  .say {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 70px;
    padding: 26px 0;
  }
  .say--about__customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .imam--white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 223px;
    width: 60%;
   }
   .imam--white > p  {
    font-size: 15px;
    text-align: center;
    padding: 20px;
   }
   .svg > h1 {
    text-align: center;
    font-size: 18px;
   }
  .photo--white {
    display: none;
  }
  .position--one {
    display: none;
  }
  .position--two {
    display: none;
  }
  .say--about > h1 {
    text-align: center;
    font-size: 24px !important;
    line-height: 28px !important;
    margin-left: 90%;
    width: 100%;
  }
  .based {
    margin-left: 100%;
  }

  .based > span {
    font-size: 20px;
  }
  .reviews > img {
    width: 10%;
  }
  .reviews > p {
    font-size: 12px;
  }

  /* Footer  */


  .alowishus--delicious {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
  }
  .alowishus--about__store {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 108px;
  }
  .copytright {
    display: none;
  }
  .alowishus--delicious__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alowishus--delicious__about > img {
    width: 50%;
  }
  .alowishus--delicious__about > p {
    font-size: 15px;
    text-align: center;
  }
  .store--locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .store--locations > h1 {
    font-size: 28px;
  }
  .store--locations > p {
    font-size: 15px;
    text-align: center;
  }
  .find > p {
    font-size: 12px;
  }
  .find > img {
    width: 10%;
  }
   
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contacts > h1 {
    font-size: 20px;
  }
  .alowishus--email > p {
    font-size: 18px;
  }
  .alowishus--email__email, .call--number__call {
    padding: 5px;
  }
  .call--number > span {
    font-size: 18px;
  }
  .twitter--instagram, .twitter--facebook, .twitter--linkedin, .twitter--twitter {
    padding: 5px;
  }
  .email--about > h1 {
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center !important;
  }
  .email--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button > button {
    padding: 12px 24px;
    font-size: 14px;
  }
  .button > input {
    width: 190px;
    height: 35px;
    font-size: 15px;
  }
}